USE [EasyImmo]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[AddressID] [int] IDENTITY(1,1) NOT NULL,
	[HouseNumber] [int] NOT NULL,
	[BoxNumber] [nvarchar](20) NULL,
	[StreetID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Agent]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
	[AgentID] [int] IDENTITY(1,1) NOT NULL,
	[FirstNameAgent] [nvarchar](50) NOT NULL,
	[LastNameAgent] [nvarchar](50) NOT NULL,
	[EmailAgent] [nvarchar](100) NOT NULL,
	[PhoneAgent] [nvarchar](20) NOT NULL,
	[PasswordAgent] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AgentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AgentEvent]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentEvent](
	[AgentEventID] [int] IDENTITY(1,1) NOT NULL,
	[AgentID] [int] NOT NULL,
	[EventID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AgentEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Country]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](100) NOT NULL,
	[IsoCode] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Document]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentPath] [nvarchar](255) NOT NULL,
	[DocumentDate] [datetime] NOT NULL,
	[DocumentIsSigned] [bit] NOT NULL,
	[DocumentSignatureDate] [datetime] NULL,
	[DocumentTypeID] [int] NOT NULL,
	[FolderID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocumentType]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
	[DocumentTypeID] [int] IDENTITY(1,1) NOT NULL,
	[DocumentTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Event]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[EventID] [int] IDENTITY(1,1) NOT NULL,
	[EventDate] [datetime] NOT NULL,
	[EventNote] [nvarchar](255) NULL,
	[EventTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventType]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[EventTypeID] [int] IDENTITY(1,1) NOT NULL,
	[EventTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Folder]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder](
	[FolderID] [int] IDENTITY(1,1) NOT NULL,
	[FolderOpenDate] [datetime] NOT NULL,
	[FolderCloseDate] [datetime] NULL,
	[FolderCloseReason] [nvarchar](255) NULL,
	[ListingID] [int] NOT NULL,
	[PersonID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FolderEvent]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FolderEvent](
	[FolderEventID] [int] IDENTITY(1,1) NOT NULL,
	[FolderID] [int] NOT NULL,
	[EventID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FolderEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FolderStep]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FolderStep](
	[FolderStepID] [int] IDENTITY(1,1) NOT NULL,
	[FolderStepDate] [datetime] NOT NULL,
	[FolderStepNote] [nvarchar](255) NULL,
	[FolderID] [int] NOT NULL,
	[StepTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FolderStepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listing]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listing](
	[ListingID] [int] IDENTITY(1,1) NOT NULL,
	[ListingStartDate] [datetime] NOT NULL,
	[ListingEndDate] [datetime] NULL,
	[ListingPrice] [float] NOT NULL,
	[AgencyFees] [float] NULL,
	[NotaryFees] [float] NULL,
	[RentalCharge] [float] NULL,
	[RentalWarranty] [float] NULL,
	[ListingTypeID] [int] NOT NULL,
	[PropertyID] [int] NOT NULL,
	[AgentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingType]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingType](
	[ListingTypeID] [int] IDENTITY(1,1) NOT NULL,
	[ListingTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipality]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipality](
	[MunicipalityID] [int] IDENTITY(1,1) NOT NULL,
	[MunicipalityName] [nvarchar](100) NOT NULL,
	[ProvinceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MunicipalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Person]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstNamePerson] [nvarchar](50) NOT NULL,
	[LastNamePerson] [nvarchar](50) NOT NULL,
	[EmailPerson] [nvarchar](100) NOT NULL,
	[PhonePerson] [nvarchar](20) NOT NULL,
	[AddressID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Photo]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
	[PhotoID] [int] IDENTITY(1,1) NOT NULL,
	[PhotoURL] [nvarchar](255) NOT NULL,
	[PropertyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PostalCode]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostalCode](
	[PostalCodeID] [int] IDENTITY(1,1) NOT NULL,
	[PostalCode] [nvarchar](20) NOT NULL,
	[MunicipalityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PostalCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Property]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
	[PropertyID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTitle] [nvarchar](255) NOT NULL,
	[PropertyDescription] [nvarchar](max) NULL,
	[PersonID] [int] NOT NULL,
	[PropertyTypeID] [int] NOT NULL,
	[AddressID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyDetail]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyDetail](
	[PropertyDetailID] [int] IDENTITY(1,1) NOT NULL,
	[LivingArea] [float] NULL,
	[LandArea] [float] NULL,
	[TotalSurfaceArea] [float] NULL,
	[BedroomCount] [int] NULL,
	[BathroomCount] [int] NULL,
	[ToiletCount] [int] NULL,
	[TotalRoomCount] [int] NULL,
	[EnergyClass] [nvarchar](20) NULL,
	[EnergyConsumption] [float] NULL,
	[HeatingType] [nvarchar](50) NULL,
	[ConstructionYear] [int] NULL,
	[Condition] [nvarchar](50) NULL,
	[PropertyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyType]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyType](
	[PropertyTypeID] [int] IDENTITY(1,1) NOT NULL,
	[PropertyTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PropertyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Province]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[ProvinceID] [int] IDENTITY(1,1) NOT NULL,
	[ProvinceName] [nvarchar](100) NOT NULL,
	[RegionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 31-05-26 00:43:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[RegionID] [int] IDENTITY(1,1) NOT NULL,
	[RegionName] [nvarchar](100) NOT NULL,
	[CountryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StepType]    Script Date: 31-05-26 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StepType](
	[StepTypeID] [int] IDENTITY(1,1) NOT NULL,
	[StepTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StepTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Street]    Script Date: 31-05-26 00:43:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
	[StreetID] [int] IDENTITY(1,1) NOT NULL,
	[StreetName] [nvarchar](100) NOT NULL,
	[PostalCodeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StreetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Address] ON 

INSERT [dbo].[Address] ([AddressID], [HouseNumber], [BoxNumber], [StreetID]) VALUES (1, 15, NULL, 1)
INSERT [dbo].[Address] ([AddressID], [HouseNumber], [BoxNumber], [StreetID]) VALUES (2, 42, N'B2', 6)
INSERT [dbo].[Address] ([AddressID], [HouseNumber], [BoxNumber], [StreetID]) VALUES (3, 8, NULL, 9)
SET IDENTITY_INSERT [dbo].[Address] OFF
GO
SET IDENTITY_INSERT [dbo].[Agent] ON 

INSERT [dbo].[Agent] ([AgentID], [FirstNameAgent], [LastNameAgent], [EmailAgent], [PhoneAgent], [PasswordAgent]) VALUES (1, N'Alexandre', N'Rahir', N'alexandrerahir@gmail.com', N'+32 475 12 34 56', N'ChangeMe123!')
INSERT [dbo].[Agent] ([AgentID], [FirstNameAgent], [LastNameAgent], [EmailAgent], [PhoneAgent], [PasswordAgent]) VALUES (2, N'Sophie', N'Dupont', N'sophiedupont@gmail.com', N'+32 475 65 43 21', N'ChangeMe123!')
INSERT [dbo].[Agent] ([AgentID], [FirstNameAgent], [LastNameAgent], [EmailAgent], [PhoneAgent], [PasswordAgent]) VALUES (3, N'Thomas', N'Lecomte', N'thomaslecomte@gmail.com', N'+32 475 23 45 67', N'ChangeMe123!')
SET IDENTITY_INSERT [dbo].[Agent] OFF
GO
SET IDENTITY_INSERT [dbo].[Country] ON 

INSERT [dbo].[Country] ([CountryID], [CountryName], [IsoCode]) VALUES (1, N'Belgique', N'BE')
SET IDENTITY_INSERT [dbo].[Country] OFF
GO
SET IDENTITY_INSERT [dbo].[DocumentType] ON 

INSERT [dbo].[DocumentType] ([DocumentTypeID], [DocumentTypeName]) VALUES (1, N'Contrat de bail')
INSERT [dbo].[DocumentType] ([DocumentTypeID], [DocumentTypeName]) VALUES (2, N'Compromis de vente')
INSERT [dbo].[DocumentType] ([DocumentTypeID], [DocumentTypeName]) VALUES (3, N'Acte notarié')
SET IDENTITY_INSERT [dbo].[DocumentType] OFF
GO
SET IDENTITY_INSERT [dbo].[EventType] ON 

INSERT [dbo].[EventType] ([EventTypeID], [EventTypeName]) VALUES (1, N'Visite planifiée')
INSERT [dbo].[EventType] ([EventTypeID], [EventTypeName]) VALUES (2, N'Visite effectuée')
INSERT [dbo].[EventType] ([EventTypeID], [EventTypeName]) VALUES (3, N'Appel téléphonique')
SET IDENTITY_INSERT [dbo].[EventType] OFF
GO
SET IDENTITY_INSERT [dbo].[Folder] ON 

INSERT [dbo].[Folder] ([FolderID], [FolderOpenDate], [FolderCloseDate], [FolderCloseReason], [ListingID], [PersonID]) VALUES (1, CAST(N'2019-09-05T00:00:00.000' AS DateTime), CAST(N'2026-05-30T00:00:00.000' AS DateTime), N'Dossier incomplet', 1, 3)
INSERT [dbo].[Folder] ([FolderID], [FolderOpenDate], [FolderCloseDate], [FolderCloseReason], [ListingID], [PersonID]) VALUES (2, CAST(N'2019-10-15T00:00:00.000' AS DateTime), CAST(N'2020-08-31T00:00:00.000' AS DateTime), N'Contrat signé', 1, 7)
INSERT [dbo].[Folder] ([FolderID], [FolderOpenDate], [FolderCloseDate], [FolderCloseReason], [ListingID], [PersonID]) VALUES (3, CAST(N'2020-09-10T00:00:00.000' AS DateTime), CAST(N'2020-10-05T00:00:00.000' AS DateTime), N'Candidat désisté', 2, 12)
SET IDENTITY_INSERT [dbo].[Folder] OFF
GO
SET IDENTITY_INSERT [dbo].[FolderStep] ON 

INSERT [dbo].[FolderStep] ([FolderStepID], [FolderStepDate], [FolderStepNote], [FolderID], [StepTypeID]) VALUES (1, CAST(N'2019-09-05T00:00:00.000' AS DateTime), N'Le client a contacté l agence par téléphone', 1, 1)
INSERT [dbo].[FolderStep] ([FolderStepID], [FolderStepDate], [FolderStepNote], [FolderID], [StepTypeID]) VALUES (2, CAST(N'2019-09-10T00:00:00.000' AS DateTime), N'Visite fixée un samedi matin à 10h', 1, 2)
INSERT [dbo].[FolderStep] ([FolderStepID], [FolderStepDate], [FolderStepNote], [FolderID], [StepTypeID]) VALUES (3, CAST(N'2019-09-15T00:00:00.000' AS DateTime), N'Client intéressé mais demande un délai de réflexion', 1, 3)
GO
SET IDENTITY_INSERT [dbo].[FolderStep] OFF
GO
SET IDENTITY_INSERT [dbo].[Listing] ON 

INSERT [dbo].[Listing] ([ListingID], [ListingStartDate], [ListingEndDate], [ListingPrice], [AgencyFees], [NotaryFees], [RentalCharge], [RentalWarranty], [ListingTypeID], [PropertyID], [AgentID]) VALUES (1, CAST(N'2019-09-01T00:00:00.000' AS DateTime), CAST(N'2020-08-31T00:00:00.000' AS DateTime), 580, 60, NULL, 50, 1160, 2, 1, 1)
INSERT [dbo].[Listing] ([ListingID], [ListingStartDate], [ListingEndDate], [ListingPrice], [AgencyFees], [NotaryFees], [RentalCharge], [RentalWarranty], [ListingTypeID], [PropertyID], [AgentID]) VALUES (2, CAST(N'2020-09-01T00:00:00.000' AS DateTime), CAST(N'2022-08-31T00:00:00.000' AS DateTime), 600, 60, NULL, 50, 1200, 2, 1, 1)
INSERT [dbo].[Listing] ([ListingID], [ListingStartDate], [ListingEndDate], [ListingPrice], [AgencyFees], [NotaryFees], [RentalCharge], [RentalWarranty], [ListingTypeID], [PropertyID], [AgentID]) VALUES (3, CAST(N'2022-09-01T00:00:00.000' AS DateTime), CAST(N'2024-08-31T00:00:00.000' AS DateTime), 630, 65, NULL, 50, 1260, 2, 1, 1)
SET IDENTITY_INSERT [dbo].[Listing] OFF
GO
SET IDENTITY_INSERT [dbo].[ListingType] ON 

INSERT [dbo].[ListingType] ([ListingTypeID], [ListingTypeName]) VALUES (1, N'Vente')
INSERT [dbo].[ListingType] ([ListingTypeID], [ListingTypeName]) VALUES (2, N'Location')
SET IDENTITY_INSERT [dbo].[ListingType] OFF
GO
SET IDENTITY_INSERT [dbo].[Municipality] ON 

INSERT [dbo].[Municipality] ([MunicipalityID], [MunicipalityName], [ProvinceID]) VALUES (1, N'Wavre', 1)
INSERT [dbo].[Municipality] ([MunicipalityID], [MunicipalityName], [ProvinceID]) VALUES (2, N'Nivelles', 1)
INSERT [dbo].[Municipality] ([MunicipalityID], [MunicipalityName], [ProvinceID]) VALUES (3, N'Braine-l''Alleud', 1)
SET IDENTITY_INSERT [dbo].[Municipality] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([PersonID], [FirstNamePerson], [LastNamePerson], [EmailPerson], [PhonePerson], [AddressID]) VALUES (1, N'Jean', N'Martin', N'jeanmartin@gmail.com', N'+32 475 98 76 54', 1)
INSERT [dbo].[Person] ([PersonID], [FirstNamePerson], [LastNamePerson], [EmailPerson], [PhonePerson], [AddressID]) VALUES (2, N'Marie', N'Dubois', N'mariedubois@gmail.com', N'+32 475 11 22 33', 2)
INSERT [dbo].[Person] ([PersonID], [FirstNamePerson], [LastNamePerson], [EmailPerson], [PhonePerson], [AddressID]) VALUES (3, N'Paul', N'Lemoine', N'paullemoine@gmail.com', N'+32 475 22 33 44', 3)
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[PostalCode] ON 

INSERT [dbo].[PostalCode] ([PostalCodeID], [PostalCode], [MunicipalityID]) VALUES (1, N'1300', 1)
INSERT [dbo].[PostalCode] ([PostalCodeID], [PostalCode], [MunicipalityID]) VALUES (2, N'1400', 2)
INSERT [dbo].[PostalCode] ([PostalCodeID], [PostalCode], [MunicipalityID]) VALUES (3, N'1420', 3)
SET IDENTITY_INSERT [dbo].[PostalCode] OFF
GO
SET IDENTITY_INSERT [dbo].[Property] ON 

INSERT [dbo].[Property] ([PropertyID], [PropertyTitle], [PropertyDescription], [PersonID], [PropertyTypeID], [AddressID]) VALUES (1, N'Studio centre Wavre', N'Petit studio idéal pour étudiant, proche des transports.', 1, 4, 1)
INSERT [dbo].[Property] ([PropertyID], [PropertyTitle], [PropertyDescription], [PersonID], [PropertyTypeID], [AddressID]) VALUES (2, N'Garage Wavre', N'Garage fermé sécurisé avec électricité.', 1, 5, 1)
INSERT [dbo].[Property] ([PropertyID], [PropertyTitle], [PropertyDescription], [PersonID], [PropertyTypeID], [AddressID]) VALUES (3, N'Maison familiale Charleroi', N'Spacieuse maison 4 chambres avec jardin, proche écoles.', 2, 2, 2)
SET IDENTITY_INSERT [dbo].[Property] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyDetail] ON 

INSERT [dbo].[PropertyDetail] ([PropertyDetailID], [LivingArea], [LandArea], [TotalSurfaceArea], [BedroomCount], [BathroomCount], [ToiletCount], [TotalRoomCount], [EnergyClass], [EnergyConsumption], [HeatingType], [ConstructionYear], [Condition], [PropertyID]) VALUES (1, 28, NULL, 28, 0, 1, 1, 1, N'D', 280, N'Électrique', 2005, N'Bon', 1)
INSERT [dbo].[PropertyDetail] ([PropertyDetailID], [LivingArea], [LandArea], [TotalSurfaceArea], [BedroomCount], [BathroomCount], [ToiletCount], [TotalRoomCount], [EnergyClass], [EnergyConsumption], [HeatingType], [ConstructionYear], [Condition], [PropertyID]) VALUES (2, 18, NULL, 18, 0, 0, 0, 1, N'E', NULL, NULL, 1990, N'Correct', 2)
INSERT [dbo].[PropertyDetail] ([PropertyDetailID], [LivingArea], [LandArea], [TotalSurfaceArea], [BedroomCount], [BathroomCount], [ToiletCount], [TotalRoomCount], [EnergyClass], [EnergyConsumption], [HeatingType], [ConstructionYear], [Condition], [PropertyID]) VALUES (3, 145, 300, 445, 4, 2, 2, 8, N'C', 180, N'Gaz naturel', 1998, N'Bon', 3)
SET IDENTITY_INSERT [dbo].[PropertyDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[PropertyType] ON 

INSERT [dbo].[PropertyType] ([PropertyTypeID], [PropertyTypeName]) VALUES (1, N'Appartement')
INSERT [dbo].[PropertyType] ([PropertyTypeID], [PropertyTypeName]) VALUES (2, N'Maison')
INSERT [dbo].[PropertyType] ([PropertyTypeID], [PropertyTypeName]) VALUES (3, N'Villa')
SET IDENTITY_INSERT [dbo].[PropertyType] OFF
GO
SET IDENTITY_INSERT [dbo].[Province] ON 

INSERT [dbo].[Province] ([ProvinceID], [ProvinceName], [RegionID]) VALUES (1, N'Brabant Wallon', 1)
INSERT [dbo].[Province] ([ProvinceID], [ProvinceName], [RegionID]) VALUES (2, N'Hainaut', 1)
INSERT [dbo].[Province] ([ProvinceID], [ProvinceName], [RegionID]) VALUES (3, N'Liège', 1)
SET IDENTITY_INSERT [dbo].[Province] OFF
GO
SET IDENTITY_INSERT [dbo].[Region] ON 

INSERT [dbo].[Region] ([RegionID], [RegionName], [CountryID]) VALUES (1, N'Wallonie', 1)
INSERT [dbo].[Region] ([RegionID], [RegionName], [CountryID]) VALUES (2, N'Bruxelles-Capitale', 1)
INSERT [dbo].[Region] ([RegionID], [RegionName], [CountryID]) VALUES (3, N'Flandre', 1)
SET IDENTITY_INSERT [dbo].[Region] OFF
GO
SET IDENTITY_INSERT [dbo].[StepType] ON 

INSERT [dbo].[StepType] ([StepTypeID], [StepTypeName]) VALUES (1, N'Demande de renseignements')
INSERT [dbo].[StepType] ([StepTypeID], [StepTypeName]) VALUES (2, N'Visite planifiée')
INSERT [dbo].[StepType] ([StepTypeID], [StepTypeName]) VALUES (3, N'Visite effectuée')
SET IDENTITY_INSERT [dbo].[StepType] OFF
GO
SET IDENTITY_INSERT [dbo].[Street] ON 

INSERT [dbo].[Street] ([StreetID], [StreetName], [PostalCodeID]) VALUES (1, N'Rue de Bruxelles', 1)
INSERT [dbo].[Street] ([StreetID], [StreetName], [PostalCodeID]) VALUES (2, N'Avenue de la Gare', 2)
INSERT [dbo].[Street] ([StreetID], [StreetName], [PostalCodeID]) VALUES (3, N'Boulevard de l''Europe', 3)
SET IDENTITY_INSERT [dbo].[Street] OFF
GO
ALTER TABLE [dbo].[Address]  WITH NOCHECK ADD FOREIGN KEY([StreetID])
REFERENCES [dbo].[Street] ([StreetID])
GO
ALTER TABLE [dbo].[AgentEvent]  WITH NOCHECK ADD FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([AgentID])
GO
ALTER TABLE [dbo].[AgentEvent]  WITH NOCHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Document]  WITH NOCHECK ADD FOREIGN KEY([DocumentTypeID])
REFERENCES [dbo].[DocumentType] ([DocumentTypeID])
GO
ALTER TABLE [dbo].[Document]  WITH NOCHECK ADD FOREIGN KEY([FolderID])
REFERENCES [dbo].[Folder] ([FolderID])
GO
ALTER TABLE [dbo].[Event]  WITH NOCHECK ADD FOREIGN KEY([EventTypeID])
REFERENCES [dbo].[EventType] ([EventTypeID])
GO
ALTER TABLE [dbo].[Folder]  WITH NOCHECK ADD FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listing] ([ListingID])
GO
ALTER TABLE [dbo].[Folder]  WITH NOCHECK ADD FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[FolderEvent]  WITH NOCHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[FolderEvent]  WITH NOCHECK ADD FOREIGN KEY([FolderID])
REFERENCES [dbo].[Folder] ([FolderID])
GO
ALTER TABLE [dbo].[FolderStep]  WITH NOCHECK ADD FOREIGN KEY([FolderID])
REFERENCES [dbo].[Folder] ([FolderID])
GO
ALTER TABLE [dbo].[FolderStep]  WITH NOCHECK ADD FOREIGN KEY([StepTypeID])
REFERENCES [dbo].[StepType] ([StepTypeID])
GO
ALTER TABLE [dbo].[Listing]  WITH NOCHECK ADD FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([AgentID])
GO
ALTER TABLE [dbo].[Listing]  WITH NOCHECK ADD FOREIGN KEY([ListingTypeID])
REFERENCES [dbo].[ListingType] ([ListingTypeID])
GO
ALTER TABLE [dbo].[Listing]  WITH NOCHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Property] ([PropertyID])
GO
ALTER TABLE [dbo].[Municipality]  WITH NOCHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Person]  WITH NOCHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Photo]  WITH NOCHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Property] ([PropertyID])
GO
ALTER TABLE [dbo].[PostalCode]  WITH NOCHECK ADD FOREIGN KEY([MunicipalityID])
REFERENCES [dbo].[Municipality] ([MunicipalityID])
GO
ALTER TABLE [dbo].[Property]  WITH NOCHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Property]  WITH NOCHECK ADD FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Property]  WITH NOCHECK ADD FOREIGN KEY([PropertyTypeID])
REFERENCES [dbo].[PropertyType] ([PropertyTypeID])
GO
ALTER TABLE [dbo].[PropertyDetail]  WITH NOCHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Property] ([PropertyID])
GO
ALTER TABLE [dbo].[Province]  WITH NOCHECK ADD FOREIGN KEY([RegionID])
REFERENCES [dbo].[Region] ([RegionID])
GO
ALTER TABLE [dbo].[Region]  WITH NOCHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Street]  WITH NOCHECK ADD FOREIGN KEY([PostalCodeID])
REFERENCES [dbo].[PostalCode] ([PostalCodeID])
GO
