/****** Object:  Database [EasyImmo] ******/
CREATE DATABASE [EasyImmo]
GO

USE [EasyImmo]
GO

/****** Object:  Table [dbo].[Address] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
    [AddressID] [int] IDENTITY(1,1) NOT NULL,
    [HouseNumber] [int] NOT NULL,
    [BoxNumber] [nvarchar](20) NULL,
    [StreetID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Agent] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Agent](
    [AgentID] [int] IDENTITY(1,1) NOT NULL,
    [FirstNameAgent] [nvarchar](50) NOT NULL,
    [LastNameAgent] [nvarchar](50) NOT NULL,
    [EmailAgent] [nvarchar](100) NOT NULL,
    [PhoneAgent] [nvarchar](20) NOT NULL,
    [PasswordAgent] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [AgentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[AgentEvent] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AgentEvent](
    [AgentEventID] [int] IDENTITY(1,1) NOT NULL,
    [AgentID] [int] NOT NULL,
    [EventID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [AgentEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Country] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
    [CountryID] [int] IDENTITY(1,1) NOT NULL,
    [CountryName] [nvarchar](100) NOT NULL,
    [IsoCode] [nvarchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Document] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Document](
    [DocumentID] [int] IDENTITY(1,1) NOT NULL,
    [DocumentPath] [nvarchar](255) NOT NULL,
    [DocumentDate] [datetime] NOT NULL,
    [DocumentIsSigned] [bit] NOT NULL,
    [DocumentSignatureDate] [datetime] NULL,
    [DocumentTypeID] [int] NOT NULL,
    [FolderID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[DocumentType] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocumentType](
    [DocumentTypeID] [int] IDENTITY(1,1) NOT NULL,
    [DocumentTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [DocumentTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Event] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
    [EventID] [int] IDENTITY(1,1) NOT NULL,
    [EventDate] [datetime] NOT NULL,
    [EventNote] [nvarchar](255) NULL,
    [EventTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[EventType] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
    [EventTypeID] [int] IDENTITY(1,1) NOT NULL,
    [EventTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [EventTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Folder] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Folder](
    [FolderID] [int] IDENTITY(1,1) NOT NULL,
    [FolderOpenDate] [datetime] NOT NULL,
    [FolderCloseDate] [datetime] NULL,
    [FolderCloseReason] [nvarchar](255) NULL,
    [ListingID] [int] NOT NULL,
    [PersonID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [FolderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[FolderEvent] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FolderEvent](
    [FolderEventID] [int] IDENTITY(1,1) NOT NULL,
    [FolderID] [int] NOT NULL,
    [EventID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [FolderEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[FolderStep] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FolderStep](
    [FolderStepID] [int] IDENTITY(1,1) NOT NULL,
    [FolderStepDate] [datetime] NOT NULL,
    [FolderStepNote] [nvarchar](255) NULL,
    [FolderID] [int] NOT NULL,
    [StepTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [FolderStepID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Listing] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listing](
    [ListingID] [int] IDENTITY(1,1) NOT NULL,
    [ListingStartDate] [datetime] NOT NULL,
    [ListingEndDate] [datetime] NULL,
    [ListingPrice] [float] NOT NULL,
    [AgencyFees] [float] NULL,
    [NotaryFees] [float] NULL,
    [RentalCharge] [float] NULL,
    [RentalWarranty] [float] NULL,
    [ListingTypeID] [int] NOT NULL,
    [PropertyID] [int] NOT NULL,
    [AgentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[ListingType] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingType](
    [ListingTypeID] [int] IDENTITY(1,1) NOT NULL,
    [ListingTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [ListingTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Municipality] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipality](
    [MunicipalityID] [int] IDENTITY(1,1) NOT NULL,
    [MunicipalityName] [nvarchar](100) NOT NULL,
    [ProvinceID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [MunicipalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Person] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
    [PersonID] [int] IDENTITY(1,1) NOT NULL,
    [FirstNamePerson] [nvarchar](50) NOT NULL,
    [LastNamePerson] [nvarchar](50) NOT NULL,
    [EmailPerson] [nvarchar](100) NOT NULL,
    [PhonePerson] [nvarchar](20) NOT NULL,
    [AddressID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Photo] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Photo](
    [PhotoID] [int] IDENTITY(1,1) NOT NULL,
    [PhotoURL] [nvarchar](255) NOT NULL,
    [PropertyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [PhotoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PostalCode] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PostalCode](
    [PostalCodeID] [int] IDENTITY(1,1) NOT NULL,
    [PostalCode] [nvarchar](20) NOT NULL,
    [MunicipalityID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [PostalCodeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Property] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Property](
    [PropertyID] [int] IDENTITY(1,1) NOT NULL,
    [PropertyTitle] [nvarchar](255) NOT NULL,
    [PropertyDescription] [nvarchar](max) NULL,
    [PersonID] [int] NOT NULL,
    [PropertyTypeID] [int] NOT NULL,
    [AddressID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [PropertyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PropertyDetail] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyDetail](
    [PropertyDetailID] [int] IDENTITY(1,1) NOT NULL,
    [LivingArea] [float] NULL,
    [LandArea] [float] NULL,
    [TotalSurfaceArea] [float] NULL,
    [BedroomCount] [int] NULL,
    [BathroomCount] [int] NULL,
    [ToiletCount] [int] NULL,
    [TotalRoomCount] [int] NULL,
    [EnergyClass] [nvarchar](20) NULL,
    [EnergyConsumption] [float] NULL,
    [HeatingType] [nvarchar](50) NULL,
    [ConstructionYear] [int] NULL,
    [Condition] [nvarchar](50) NULL,
    [PropertyID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [PropertyDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[PropertyType] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyType](
    [PropertyTypeID] [int] IDENTITY(1,1) NOT NULL,
    [PropertyTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [PropertyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Province] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
    [ProvinceID] [int] IDENTITY(1,1) NOT NULL,
    [ProvinceName] [nvarchar](100) NOT NULL,
    [RegionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [ProvinceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Region] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
    [RegionID] [int] IDENTITY(1,1) NOT NULL,
    [RegionName] [nvarchar](100) NOT NULL,
    [CountryID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [RegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[StepType] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StepType](
    [StepTypeID] [int] IDENTITY(1,1) NOT NULL,
    [StepTypeName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [StepTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[Street] ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Street](
    [StreetID] [int] IDENTITY(1,1) NOT NULL,
    [StreetName] [nvarchar](100) NOT NULL,
    [PostalCodeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
    [StreetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Foreign Keys ******/
ALTER TABLE [dbo].[Address]  WITH NOCHECK ADD FOREIGN KEY([StreetID])
REFERENCES [dbo].[Street] ([StreetID])
GO
ALTER TABLE [dbo].[AgentEvent]  WITH NOCHECK ADD FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([AgentID])
GO
ALTER TABLE [dbo].[AgentEvent]  WITH NOCHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[Document]  WITH NOCHECK ADD FOREIGN KEY([DocumentTypeID])
REFERENCES [dbo].[DocumentType] ([DocumentTypeID])
GO
ALTER TABLE [dbo].[Document]  WITH NOCHECK ADD FOREIGN KEY([FolderID])
REFERENCES [dbo].[Folder] ([FolderID])
GO
ALTER TABLE [dbo].[Event]  WITH NOCHECK ADD FOREIGN KEY([EventTypeID])
REFERENCES [dbo].[EventType] ([EventTypeID])
GO
ALTER TABLE [dbo].[Folder]  WITH NOCHECK ADD FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listing] ([ListingID])
GO
ALTER TABLE [dbo].[Folder]  WITH NOCHECK ADD FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[FolderEvent]  WITH NOCHECK ADD FOREIGN KEY([EventID])
REFERENCES [dbo].[Event] ([EventID])
GO
ALTER TABLE [dbo].[FolderEvent]  WITH NOCHECK ADD FOREIGN KEY([FolderID])
REFERENCES [dbo].[Folder] ([FolderID])
GO
ALTER TABLE [dbo].[FolderStep]  WITH NOCHECK ADD FOREIGN KEY([FolderID])
REFERENCES [dbo].[Folder] ([FolderID])
GO
ALTER TABLE [dbo].[FolderStep]  WITH NOCHECK ADD FOREIGN KEY([StepTypeID])
REFERENCES [dbo].[StepType] ([StepTypeID])
GO
ALTER TABLE [dbo].[Listing]  WITH NOCHECK ADD FOREIGN KEY([AgentID])
REFERENCES [dbo].[Agent] ([AgentID])
GO
ALTER TABLE [dbo].[Listing]  WITH NOCHECK ADD FOREIGN KEY([ListingTypeID])
REFERENCES [dbo].[ListingType] ([ListingTypeID])
GO
ALTER TABLE [dbo].[Listing]  WITH NOCHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Property] ([PropertyID])
GO
ALTER TABLE [dbo].[Municipality]  WITH NOCHECK ADD FOREIGN KEY([ProvinceID])
REFERENCES [dbo].[Province] ([ProvinceID])
GO
ALTER TABLE [dbo].[Person]  WITH NOCHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Photo]  WITH NOCHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Property] ([PropertyID])
GO
ALTER TABLE [dbo].[PostalCode]  WITH NOCHECK ADD FOREIGN KEY([MunicipalityID])
REFERENCES [dbo].[Municipality] ([MunicipalityID])
GO
ALTER TABLE [dbo].[Property]  WITH NOCHECK ADD FOREIGN KEY([AddressID])
REFERENCES [dbo].[Address] ([AddressID])
GO
ALTER TABLE [dbo].[Property]  WITH NOCHECK ADD FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Property]  WITH NOCHECK ADD FOREIGN KEY([PropertyTypeID])
REFERENCES [dbo].[PropertyType] ([PropertyTypeID])
GO
ALTER TABLE [dbo].[PropertyDetail]  WITH NOCHECK ADD FOREIGN KEY([PropertyID])
REFERENCES [dbo].[Property] ([PropertyID])
GO
ALTER TABLE [dbo].[Province]  WITH NOCHECK ADD FOREIGN KEY([RegionID])
REFERENCES [dbo].[Region] ([RegionID])
GO
ALTER TABLE [dbo].[Region]  WITH NOCHECK ADD FOREIGN KEY([CountryID])
REFERENCES [dbo].[Country] ([CountryID])
GO
ALTER TABLE [dbo].[Street]  WITH NOCHECK ADD FOREIGN KEY([PostalCodeID])
REFERENCES [dbo].[PostalCode] ([PostalCodeID])
GO
